/* .container {
    width: 33px;
    height: 33px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: red;
    border-radius: 5px;
} */

/* .container div {
    width: 27.2%;
    height: 9px; */
    /* border: 1px solid black; */
/* } */

/* .special {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    width: 27.2%;
    height: 9px;
} */